@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Titillium+Web:300,400,600,700&display=swap');

html {
    padding:0;
    margin:0;
    width: 100%;
    height: 100vh;
}


body {
    padding:0;
    margin:0;
    font-family: "Roboto", sans-serif; 
    width: 100%;
    height: 100vh;
    color: #3E3F3A;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    }

.background {
    background: url("../images/unsplash.jpg") no-repeat center center fixed; 
    background-size: cover;
    position: relative;
    
    
}
.heading-background {
    background: url("../images/unsplash.jpg") no-repeat center center fixed; 
    background-size: cover;
    position: relative;
}
.portfolio-background {
    background: url("../images/unsplash.jpg") no-repeat center center fixed; 
    background-size: cover;
    position: relative;
}
.heading {
    padding: 100px 10px;
    
}

.card-img-overlay {
    position: relative;
}

/* ----------------------------------------------------------------- SCROLLBAR STYLE */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3e3f3a; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/*--------------------------------------------------------------------- SOCIAL SIDE LINKS */
.social-fixed-side {
    position: fixed;
    right: 0;
    top: 35vh;
    z-index: 1;
}

.social-item {                      /*also used on footer*/
    font-size: 2rem;
    height: 35px;
    
}

.social-link {
    color: #3e3f3a;
}

.social-link:hover {
    color: #797062;
}


.downlink {
    width: 100%;
}

/*--------------------------------------------------------------------------- NAVBAR */
.navbar {
    width:100%;
    -webkit-backdrop-filter:blur(25px);
    backdrop-filter: blur(25px);
    z-index: 1;
}

.navbar-toggler {
    position: absolute;
    right: 0;
    z-index: 1;
    margin-right: 10px;
}
.navbar-collapse::after {
    filter:blur()
}

.btn-success {
    color: #3E3F3A;
    border-color: #3e3f3a;
    background-color: transparent;
    border-radius: 25px;
    border-width: 3px;
}
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:focus,
.btn-success:hover {
    color: #eeebe8;
    border-color: #3e3f3a;
    background-color: #3e3f3a;
}
.btn-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 63, 58, 0.5);
}

.message-btn {
    color: #3e3f3a;
    border-radius: 25px;

}

.nav-link:hover,
.message-btn:hover {
    color: #eeebe8;
}

/* --------------------------------------------------------------------- CONTACT-MODAL */

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 60%;
}

.modal-body {
    padding: 0;
    overflow: auto;
}
.modal-dialog {
    margin: 0;
    max-height:100%;
    max-width:100vw;
}

.modal-content {
    height:100vh;
    border-radius: 0;
    background-color: #eeebe8;
}

/* -------------------------------------------------------------------- Contact us js Fallback */

label {
    color: #333;
    display: block;
}


.controls {
    margin: 0 20px 0 20px;
}
.form-control {
    border: none;
    background-color: transparent;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(0,0,0,.01);

}

.input-wrap {
    border: 1px solid #ced4da;
    border-radius: 10px;
    margin: 15px 10px 15px;
}


.label-name {
    font-family: "Titillium+Web", sans-serif;
    font-size: 11px;
    font-weight: bolder;
    color: #666;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 5px 0 11px 20px;
    height: 0;
    
}

.contact-form {
    width: 70%;
    margin: 0 auto;
}

.input {
    height: 25px;
}

/* ----------------------------------------------------------------- LANDING */


.landing-body {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 4rem 1.5rem;
    height: 100vh;
}

.headshot {
    border-radius: 200px;
}

.more-btn {
    font-size:1.5rem;
    color: #eeebe8;
    text-shadow: 0.1em 0.1em 0.1em #3E3F3A, 
                 0 0 0.1em #3E3F3A,
                 0 0 0.1em #3E3F3A,
                 0 0 0.2em #3E3F3A,
                 0 0 0.2em #3E3F3A,
                 0 0 0.3em #3E3F3A;
    position:absolute;
    bottom: 10vh;
    transform:translateY(-100%);
    width:100%;
    z-index: 1;
}

.more-btn:hover {
    text-decoration: none;
    color: #eeebe8;
}

/* ----------------------------------------------------------------- ABOUT ME */
.about-me {
    padding: 150px;
    background-color:#cec2b9;
    border-radius: 25px;

}


/* ---------------------------------------------------------------- SKILLS / EXPERIENCE */


.logos {
    height:200px;
    padding-bottom: 20px;
}

.col-6 {
    padding-bottom: 20px;
}

.skills-bg {
    background-color: rgba(238, 235, 232, .7);
    border-radius: 25px;
    padding-bottom: 40px;

}

.version-control {
    width: 300px;
    padding-bottom: 30px;
}

/* -------------------------------------------------------------- TIMELINE / HISTORY */
.main-timeline:after{
    content: '';
    display: block;
    clear: both;
}
.main-timeline .timeline{ margin: 0 -15px; }
.main-timeline .timeline-content{
    color: #3E3F3A;
    text-align: left;
    display: block;
    position: relative;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-icon{
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    transition: all 1.5s;
}
.main-timeline  .timeline:hover .timeline-icon{ transform: rotateY(360deg); }
.main-timeline .timeline-year{
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}
.main-timeline .timeline-year:after{
    content: '';
    height: 60px;
    width: 107%;
    background-color: #3E3F3A;
    transform: translateX(-50%) translateY(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    -webkit-clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.main-timeline .timeline-year span{
    color: #EEEBE8;
    background-color: #3E3F3A;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 80px;
    height: 80px;
    width: 80px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0 0 10px #999, 0 0 0 15px #EEEBE8;
    display: block;
}
.main-timeline .inner-content{
    padding: 0 10px 10px 15px;
    border-left: 15px solid #3E3F3A;
}
.main-timeline .title{
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 15px 0;
}
.main-timeline .description{
    color: #333;
    font-size: 15px;
    letter-spacing: 1px;
}
.main-timeline .timeline-2 .timeline-icon,
.main-timeline .timeline-2 .title{
    color: #797062;
}
.main-timeline .timeline-2 .timeline-year:after,
.main-timeline .timeline-2 .timeline-year span{
    background-color: #797062;
}
.main-timeline .timeline-2 .inner-content{ border-left-color: #797062; }

.centeredtimeline {
    margin: 0 auto; 
}

@media screen and (max-width:767px){
    .main-timeline .timeline{ margin: 0 0 15px; }
    .main-timeline .timeline-year:after{ width: 100%; }
}

/* ------------------------------------------------------------------ FOOTER */
.footer-bg {
    background-color:#3E3F3A;
    color: #797062;
    padding: 20px;
}

footer .social-link {
    color: #797062;
    position: relative;
    bottom: 20px;
}
.footer-heading {
    margin-top: 15px;
}
.footer-content {
    padding: 10px;
}

.footer-content li {
    list-style-type: none;
}

.footer-content li a {
    color: #797062;
}
.footer-content ul {
    padding-left: 0px;
}

footer h6 a i {
    color: #797062;
}

.btn-primary {
    color: #797062;
    border-radius: 25px;
    background-color: transparent;
    border-color: #797062;
    border-width: 3px;

}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:focus,
.btn-primary:hover {
    color:#3E3F3A!important;
    border-radius: 25px;
    background-color: #797062;
    border-color: #3E3F3A;
    border-width: 3px;
    box-shadow: none;

}


/* -------------------------------------------------- MEDIA QUERIES / RESPONSIVENESS */

@media (min-width: 2000px) {
    .container {
        max-width: 1500px;
    }
    .social-item {
        padding-top: 50px;
        font-size:3rem;
    }
    .navbar-brand,
    .nav-link,
    .nav-link1 { 
        font-size: x-large;
    }
    .landing-body {
        padding: 400px;
    }
    .landing-body h1 {
        font-size:3rem;
    }
    .landing-body h2 {
        font-size: 2.5rem;
    }
    .landing-body h3 {
        font-size: 2rem;
    }
    .headshot {
        
    }
    .more-btn{
        font-size: 2rem;
    }
}
@media (min-width: 770px) and (min-height: 500px) {
.landing-body {
        padding: 220px;
    }

}
@media (max-width: 770px) {
    
    .about-me {
        padding: 100px;
    }
}

@media (max-width: 576px) {
    .navbar {
         position: absolute;
    }
    .landing-body {
        padding-top: 100px;
    }
    .landing-body h1 {
        font-size: 2rem;
    }
    .landing-body h2 {
        font-size: 1.5rem;
    }
    .landing-body h3 {
        font-size: 1rem;
    }
    .about-me {
        padding: 25px;
        border-radius: 0
    }
    .skills-bg {
        padding: 25px;
        border-radius: 0
    }
    .headshot {
        height: 200px;
    }
    .modal.show .modal-dialog {
        width: 100vw;
    }
    .contact-form {
        width:100%;
    }
    .logos {
    height: 170px;
    padding-bottom: 20px;
}
.version-control {
    width: 250px;
}
}

@media (orientation: landscape) and (max-height: 500px) {
    body {
        flex-direction: row;
    }
    .headshot {
        display: none;
    }
}

